<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiveScores</title>
</head>
<body>

    <h1>LiveScore</h1>
    <ul>
        <% liveScores.array.forEach(score => {
            <li>%= score.homeTeam %> vs <% = score.awayTeam%>/: <%=score.score %></li>
        <% }); %>
    </ul>
    
</body>
</html>